{% extends 'base_layout.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'exercises:exercise_bargraph' %}">Bar Graph</a>
    <a href="{% url 'exercises:exercise_linegraph' %}">Line Graph</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Exercise</th>
                <th scope="col">Weight</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
      {% for exercise in object_list %}
        <tr>
            <td scope="row">{{ exercise.name }}</td>
            <td>{{ exercise.weight }}</td>
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td><a class = "text-dark" href="{% url 'exercises:exercise_update' exercise.id %}">Edit</a></td>
            <td><a class = "text-dark" href="{% url 'exercises:exercise_delete' exercise.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'exercises:exercise_create' %}">Add Exercise</a>
</div>
{% endblock %}