<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Exercise Progression Tracker</title>
  </head>
  <body>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Exercise Name:</label>  
                <div class="col-sm-4">  
                  {{ form.name }}  
                </div>  
        </div>
        <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Weight:</label>  
                <div class="col-sm-4">  
                  {{ form.weight }}  
                </div>  
        </div>
        <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Sets:</label>  
                <div class="col-sm-4">  
                  {{ form.sets }}  
                </div>  
        </div>
        <div class="form-group row">  
                <label class="col-sm-2 col-form-label">Reps:</label>  
                <div class="col-sm-4">  
                  {{ form.reps }}  
                </div>  
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>